body {
    background: green;
}
.title {
    color: rgb(145, 26, 26);
    font-size: 25px;
    text-align: center;
}
.image {
    float: right;
    margin: 10px 10px 100px 10px;
}
.text {
    position: relative;
    text-align: center;
    font-size: 20px;
}
.links {
    color: rgba(58, 26, 145, 0.993);
    font-size: 20px;
    text-align: left;
    float: left;
    margin: 10px 10px 300px 0;
}